<div id="stripe-addcard" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="add-card-close-icon" type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="icon s7-close"></i></button>
            </div>
            <div class="modal-body">

                <h3 class="modal-title">Manage cards</h3>
                <br>
                <div ng-if="user.cardAdded == 'added' ">
                    <h4>xxxx-xxxx-xxxx-{{cardDetails.last4}} <button ng-click="removeCard()" class="btn btn-primary">Remove Card</button></h4>
                </div>

                <div ng-if=" !user.cardAdded || user.cardAdded == 'none' ">
                    <form action="" method="POST" id="payment-form">
                        <span class="payment-errors"></span>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Card Number</label>
                            <div class="col-sm-6">
                                <input type="text" maxlength="16" class="form-control" data-stripe="number">
                            </div>
                        </div>
                        <div style="clear:both;"><br></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">CVC</label>
                            <div class="col-sm-6">
                                <input maxlength="3" type="text" class="form-control" data-stripe="cvc">
                            </div>
                        </div>
                        <div style="clear:both;"><br></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Expiration (MM/YYYY)</label>
                            <div class="col-sm-3">
                                <input type="text" maxlength="2" class="form-control" data-stripe="exp-month">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" maxlength="4" class="form-control" data-stripe="exp-year">
                            </div>
                        </div>
                        <div style="clear:both;"><br></div>

                        <button ng-click="addCard();" class="btn btn-primary">Add Card</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
